.form-container{
    max-height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-box{
    min-height:400px;
    width: 40%;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 2%;
    padding: 25px;
    background-color:#161616;
    overflow: hidden;
}

.form-box h1{
    color: white;
    text-align: center;
    font-weight: 800;
    font-family:'Montserrat', sans-serif;
}

.form-box .box-username{
    margin-top: 20px;
}

.form-box .box-username input{
    font-family:'Open Sans', sans-serif;
    font-weight: 400;
    padding: 10px;
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    font-size: 18px;
    margin-top: 5px;
    border-radius: 5px;
}

.form-box .box-username .error{
    font-family:'Open Sans', sans-serif;
    font-weight: 400;
    color:white;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;
    background-color: #ff2121;
    border: 1px solid #ff2121;
    border-radius: 5px;
}

.form-box .box-correo{
    margin-top: 20px;
}

.form-box .box-correo input{
    font-family:'Open Sans', sans-serif;
    font-weight: 400;
    padding: 10px;
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    font-size: 18px;
    margin-top: 5px;
    border-radius: 5px;
}

.form-box .box-correo .error{
    font-family:'Open Sans', sans-serif;
    font-weight: 400;
    color:white;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;
    background-color: #ff2121;
    border: 1px solid #ff2121;
    border-radius: 5px;
}

.form-box .box-contraseña{
    margin-top: 20px;
}

.form-box .box-contraseña input{
    font-family:'Open Sans', sans-serif;
    font-weight: 400;
    padding: 10px;
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    font-size: 18px;
    margin-top: 5px;
    border-radius: 5px;
}

.form-box .box-contraseña .error{
    font-family:'Open Sans', sans-serif;
    font-weight: 400;
    color:white;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;
    background-color: #ff2121;
    border: 1px solid #ff2121;
    border-radius: 5px;
}

.form-box .box-comcontraseña{
    margin-top: 20px;
}

.form-box .box-comcontraseña input{
    font-family:'Open Sans', sans-serif;
    font-weight: 400;
    padding: 10px;
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    margin-top: 5px;
    font-size: 18px;
    border-radius: 5px;
}

.form-box .box-comcontraseña .error{
    font-family:'Open Sans', sans-serif;
    font-weight: 400;
    color:white;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;
    background-color: #ff2121;
    border: 1px solid #ff2121;
    border-radius: 5px;
}

.form-box .box-registrar{
    margin-top: 28px;
}

.form-box .box-registrar button{
    font-family:'Open Sans', sans-serif;
    font-size: 25px;
    color: white;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(229, 9, 20);
    border-radius: 5px;
    background-color: rgb(229, 9, 20);
}

.gradient{
    background: linear-gradient(180deg, rgba(12,6,44,1) 24%, rgba(237,9,9,1) 99%, rgba(255,0,0,1) 100%);
    position: absolute;
    top: 0;  left: 0;
    z-index: -1;
    min-height: 110vh;
    width: 100%;
}
